#container {
  height: fit-content;
  width: 80vw;
  border: 1px brown solid;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: papayawhip;
  border-radius: 10px;
}
#container-list-animal {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}
.animal-container {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: white;
  border: 1px pink dashed;
  border-radius: 20px;
}
.animal-container:hover {
    background-color: rgb(252, 239, 217);
}
img {
  height: 10vh;
  width: 10vh;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(../public/img/background-paws.jpg);
}
#title {
  color: darkred;
  background-color: white;
  width:fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
#container-random-animal {
  padding: 10px;
  background-color: wheat;
  display: flex;
}
.styled-button {
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
}
#rules-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 10px;
}
#side-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
#counter-style {
  background-color: white;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
#img-container-rules {
  display: flex;
  flex-direction: column;
}
#timer-container {
  margin: 10px;
}
#score-container {
  margin: 10px;
}